<!-- 
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white"> Registro Visita </h2>
      <form [formGroup]="myForm" (ngSubmit)="onguardar()">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cedula Visitante</label>
                  <input type="text" formControlName="identificacion_visitante" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder=" cedula " required>
              </div>
              <div class="w-full">
                  <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Visitante</label>
                  <input type="text" formControlName="nombre_visitante" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nombre Visitante" required>
              </div>
              
              <div>
                  <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Motivo Visita</label>
                  <select formControlName="motivo_visita" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                      <option value="">Seleccione motivo</option>
                      <option value="Reunion de trabajo">Reunion de trabajo</option>
                      <option value="Entrega documentos">Entrega documentos</option>
                      <option value="Incapacidad">Incapacidad</option>
                      <option value="Entraga de Boleta de Pases">Entraga de Boleta de Pases</option>
                  </select>
              </div>
              
              <div class="sm:col-span-2">
                  <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea formControlName="descripcion" id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
              </div>
          </div>
          <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-blue-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Registrar Visita
          </button>
      </form>
  </div>
</section> -->

<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-2xl lg:py-6">
      <h2 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Registro Visita</h2>
      <form [formGroup]="myForm" (ngSubmit)="onguardar()">
          <div class="grid gap-2 sm:grid-cols-2 sm:gap-4">
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Cedula Visitante</label>
                  <input type="text" formControlName="identificacion_visitante" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2 dark:bg-gray-700 dark:border-gray-600" placeholder="cedula" required>
              </div>
              <div>
                  <label for="brand" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Nombre Visitante</label>
                  <input type="text" formControlName="nombre_visitante" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2 dark:bg-gray-700 dark:border-gray-600" placeholder="Nombre Visitante" required>
              </div>
              <div>
                  <label for="category" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Motivo Visita</label>
                  <select formControlName="motivo_visita" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2 dark:bg-gray-700 dark:border-gray-600">
                      <option value="">Seleccione motivo</option>
                      <option value="Reunion de trabajo">Reunion de trabajo</option>
                      <option value="Entrega documentos">Entrega documentos</option>
                      <option value="Incapacidad">Incapacidad</option>
                      <option value="Entraga de Boleta de Pases">Entraga de Boleta de Pases</option>
                  </select>
              </div>
              <div class="sm:col-span-2">
                  <label for="description" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                  <textarea formControlName="descripcion" id="description" rows="3" class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600" placeholder="Your description here"></textarea>
              </div>
          </div>
          <button type="submit" class="inline-flex items-center px-5 py-2 mt-2 text-sm font-medium text-center text-black bg-blue-600 rounded-lg hover:bg-primary-800">
              Registrar Visita
          </button>
      </form>
  </div>
</section>